<div class="container">
  <h4>Add New Servers or Blueprints</h4>
 
  <app-create-server (serverCreated)="onServerCreated($event)" (blueprintCreated)="onBlueprintCreated($event)"></app-create-server>

 <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <app-display-server *ngFor="let server of serverElements" [server]="server">
        
    <div>
      <div class="panel" [ngClass]="server.type === 'server' ? 'panel-success' : 'panel-danger'" #panelDiv>
        <div class="panel-heading">{{server.name}}</div>
        <div class="panel-body">{{server.content}}</div>
      </div>
    </div>
      </app-display-server>
    </div>
  </div>
</div>